/**
 * @app scss for (Template/Project Name)
 * @project     - 
 * @author      - 
 * @created_by  - kawsar bin siraj
 * @created_at  - 20-07-2022
 * @modified_by -
 */

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
